<app-navigation></app-navigation>
<div *ngIf="data">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <div class="row">
        <h3 class="display-4" id="pers">Persönliche Informationen</h3>
      </div>
      <!--Vor- und Nachname-->
      <div class="row">
        <div class="col">
          <h4>Vorname</h4>
          <input readonly type="text" class="form-control" placeholder="{{perd.vorname}}">
          <hr class="my-4">
        </div>
        <div class="col">
          <h4>Nachname</h4>
          <input readonly type="text" class="form-control" placeholder="{{perd.name}}">
          <hr class="my-4">
        </div>
      </div>

      <!--Geburtsdatum- und Beruf-->
      <div class="row">
        <div class="col">
          <h4>Geburtsdatum</h4>
          <input readonly type="text" class="form-control" placeholder="{{perd.geburtsdatum}}">
          <hr class="my-4">
        </div>
        <div class="col">
          <h4>Beruf</h4>
          <input readonly type="text" class="form-control" placeholder="{{perd.beruf}}">
          <hr class="my-4">
        </div>
      </div>

      <!--Gewicht- und Groesse-->
      <div class="row">
        <div class="col">
          <h4>Gewicht</h4>
          <input readonly type="text" class="form-control" placeholder="{{perd.gewicht}}">
          <hr class="my-4">
        </div>
        <div class="col">
          <h4>Größe</h4>
          <input readonly type="text" class="form-control" placeholder="{{perd.groesse}}">
          <hr class="my-4">
        </div>
      </div>

      <!--Adresse-->
      <div class="row">
        <div class="col">
          <h4>Adresse</h4>
          <input readonly type="text" class="form-control" placeholder="{{perd.anschrift.strasse}}
      {{perd.anschrift.hausnummer}} {{perd.anschrift.adresszusatz}},{{perd.anschrift.plz}} {{perd.anschrift.ort}}">
          <hr class="my-4">
        </div>
      </div>

      <!--Kontaktdaten-->
      <div>
        <h4 data-toggle="collapse" href="#collapseKontakt" aria-expanded="false"
            aria-controls="collapseExample">Kontaktdaten</h4>
        <hr class="my-4">
        <div class="collapse show" id="collapseKontakt">
          <div class="card card-body">
            <ul class="list-group">
              <li *ngFor="let kontakt of perd.kontaktdaten" class="list-group-item">
                <div class="container">
                  <div class="row">
                    <div class="col">
                      <p><b>Email:</b> {{kontakt.email}}</p>
                      <p><b>Handy:</b> {{kontakt.handynummer}}</p>
                      <p><b>Telefon:</b> {{kontakt.telefonnummer}}</p>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <hr class="my-4">
        </div>
      </div>
    </div>
  </div>

  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <div class="row">
        <h3 class="display-4" id="med">Medizinische Informationen</h3>
      </div>
      <!-- Allergien-->
      <p class="lead" data-toggle="collapse" href="#collapseAllergien" aria-expanded="false"
         aria-controls="collapseExample">Allergien</p>
      <hr class="my-4">
      <div class="collapse show" id="collapseAllergien">
        <div class="card card-body">
          <ul class="list-group">
            <li *ngFor="let allergen of mzd.allergien" class="list-group-item">{{allergen}}</li>
          </ul>
        </div>
        <hr class="my-4">
      </div>

      <!--Erkrankungen-->
      <p class="lead" data-toggle="collapse" href="#collapseErkrankungen" aria-expanded="false"
         aria-controls="collapseExample">Erkrankungen und Befunde:</p>
      <hr class="my-4">
      <div class="collapse show" id="collapseErkrankungen">
        <div class="card card-body">
          <ul class="list-group">
            <li *ngFor="let allergen of mzd.erkankungUndBefunde" class="list-group-item">{{allergen}}</li>
          </ul>
        </div>
        <hr class="my-4">
      </div>

      <!--Medikamente-->
      <p class="lead" data-toggle="collapse" href="#collapseMedikamente" aria-expanded="false"
         aria-controls="collapseExample">Medikamente</p>
      <hr class="my-4">
      <div class="collapse show" id="collapseMedikamente">
        <div class="card card-body">
          <ul class="list-group">
            <li *ngFor="let allergen of mzd.medikamente" class="list-group-item">{{allergen}}</li>
          </ul>
        </div>
        <hr class="my-4">
      </div>

      <!--Blutgruppe-->
      <div>
        <p class="lead">Blutgruppe: {{mzd.blutgruppe}}</p>
        <hr class="my-4">
      </div>

      <div class="row">
        <!--Organspender-->
        <div class="col">
          <p class="lead" data-toggle="collapse" href="#collapseOrgaPatient" aria-expanded="false"
             aria-controls="collapseExample">Organspender:
            <ng-template
              *ngIf="mzd.organspender.istOrganspender;then organspender; else notOrganspender">
            </ng-template>
            <ng-template #organspender>Ja</ng-template>
            <ng-template #notOrganspender>Nein</ng-template>
          </p>
        </div>

        <!--Patientenverfügung-->
        <div class="col">
          <p class="lead" data-toggle="collapse" href="#collapseOrgaPatient" aria-expanded="false"
             aria-controls="collapseExample">Patientenverfügung:
            <ng-template
              *ngIf="mzd.patientenverfuegung.hatPatientenverfuegung;then patient; else notPatient">
            </ng-template>
            <ng-template #patient>Ja</ng-template>
            <ng-template #notPatient>Nein</ng-template>
          </p>
        </div>
      </div>

      <!--Organspender und Patientenverfügungs - Informationen-->
      <div class="collapse show" id="collapseOrgaPatient">
        <div class="row">
          <div class="col">
            <div class="card card-body">
              <p>{{mzd.organspender.information}}</p>
            </div>
            <hr class="my-4">
          </div>
          <div class="col">
            <div class="card card-body">
              <p>{{mzd.patientenverfuegung.information}}</p>
            </div>
            <hr class="my-4">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <div class="row">
        <h3 class="display-4" id="priv">Private Informationen</h3>
      </div>
      <!--Notfallkontakte-->
      <p class="lead" data-toggle="collapse" href="#collapseNotfallKontakte" aria-expanded="false"
         aria-controls="collapseExample">Notfallkontakte</p>
      <hr class="my-4">
      <div class="collapse show" id="collapseNotfallKontakte">
        <div class="card card-body">
          <ul class="list-group">
            <li *ngFor="let notfall of prid.notfallkontakte" class="list-group-item">{{notfall}}</li>
          </ul>
        </div>
        <hr class="my-4">
      </div>

      <!--Relevtante Daten-->
      <p class="lead" data-toggle="collapse" href="#collapseRelevanteDaten" aria-expanded="false"
         aria-controls="collapseExample">Relevante Daten</p>
      <hr class="my-4">
      <div class="collapse show" id="collapseRelevanteDaten">
        <div class="card card-body">
          <ul class="list-group">
            <li *ngFor="let data of prid.relevanteDaten" class="list-group-item">{{data}}</li>
          </ul>
        </div>
        <hr class="my-4">
      </div>

      <!--Testament -->
      <div *ngIf="prid.testament.testamentVorhanden">
        <p class="lead" data-toggle="collapse" href="#collapseTestament" aria-expanded="false"
           aria-controls="collapseExample">Testament</p>
        <hr class="my-4">
        <div class="collapse show" id="collapseTestament">
          <div class="card card-body">
            <textarea readonly class="form-control" rows="3">{{prid.testament.informationen}}</textarea>
          </div>
          <hr class="my-4">
        </div>

        <!--Notar-->
        <div *ngIf="prid.testament.testamentVorhanden">
          <p><b>Name:</b> {{prid.testament.notar.name}}</p>
          <p><b>Kontaktart:</b> {{prid.testament.notar.kontaktart}}</p>
          <p><b>Email:</b> {{prid.testament.notar.kontaktdaten.email}}</p>
          <p><b>Handy:</b> {{prid.testament.notar.handynummer}}</p>
          <p><b>Telefon:</b> {{prid.testament.notar.telefonnummer}}</p>
        </div>
      </div>
    </div>

  </div>
</div>
